body{
    margin: auto;
    font-family: 'Carter One', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background: #e9ecf8;
    position: relative;
    width: 1440px;
    height: 1024px;
}
header{

    text-align: left;
    margin: 10px 15px;
}

#logo{
    
    padding: 20px;
    padding: 10px; margin: 10px; 
    float: left;
}

main{
    width: 80%;
    margin: auto;
    padding: 20px;
    background: rgba(255,255,255,.7);
    display: flex;
    gap: 30px;
}
/*
#imagen{
    justify-content: center;
    display: block;
    margin: 0px auto;
    width: 200px;
}*/
.img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;    
    position: absolute;
    width: 464px;
    height: 152px;
    left: 488px;
    top: 626px;
    margin: 0px auto;
}
.guiones{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 464px;
    height: 152px;
    left: 488px;
    top: 628px;
}

#palabra_a_adivinar{
    height: 3em;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 464px;
    height: 152px;
    left: 488px;
    top: 626px;
}

#palabra_a_adivinar span{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 464px;
    height: 152px;
    left: 488px;
    top: 626px;

    vertical-align: bottom;
    font-size: 2em;
    border-bottom: 2px solid black;
    width: 30px;
    text-align: center;
    margin-right: 6px;
    display: inline-block; /* sin esto, por ser un elemento de línea, no tomaría el width */
}

#letras{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

#letras button{
    width: 28px;
    padding: 6px 0;
    text-align: center;
}
.inicio #pantalla{
    height: 114px;
    width: 317px;
    left: 561px;
    top: 402px;
    border-radius: 24px;
    padding: 24px;
    text-align: center;
    background: #0A3871;
    
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 1;

}
.agregar-plb {
    height: 67px;
    width: 280px;
    left: 579px;
    top: 554px;
    border-radius: 24px;
    padding: 24px;
    color: #0A3871;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    border: 1px solid #0A3871;
    border-radius: 24px;
    align-items: center;

}

a{
    color: inherit;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.input{
    position: absolute;
    width: 299px;
    height: 48px;
    left: 376px;
    top: 256px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    color: #0A3871;
}
.btn-3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 688px;
    height: 67px;
    left: 376px;
    top: 701px;
}

#GuardarPalabra{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 332px;
    height: 67px;
    color:#ffffff;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 1;
}
#cancelar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 332px;
    height: 67px;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.btn-4{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 688px;
    height: 67px;
    left: 376px;
    top: 901px;
}

.empezar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 332px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.desistir{
    box-sizing: border-box;

/* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 332px;
    height: 67px;

/* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

/* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;

}
footer{
    background-color: darkslateblue;
    color: aliceblue;
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    padding: 3%;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    
    font-size: .9rem;
}
















