*{
    margin: 0px;
    padding: 0px;
    background-color: Light blue/light-blue-100
    #F3F5FC;
}
.figura{
    display: flex;
    text-align: center;
    margin: 500px 0px 500px;
}

canvas{
    display: flex;
}
/*
button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 317px;
    height: 114px;
    left: 561px;
    top: 402px;

    background: #0A3871;
border-radius: 24px;
}


#palabra_a_adivinar span{
    vertical-align: bottom;
    font-size: 2em;
    border-bottom: 2px solid black;
    width: 30px;
    text-align: center;
    margin-right: 6px;
    display: inline-block;
}*/